<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <META name="viewport" content=""widht=device-width, inicitial-scal="1.0">
        <link href = "https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel = "stylesheet"/>
        <script src="https://kit.fontawesome.com/2f3c4114c6.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/detalledeproductostyles.css">
        
        <title>Oh My Apple</title>
        
</head>
<body>
    <header>
        <nav>
            <div class="home-barraSuperior">
                <div class="home-logo">
                    <h3><i class="fa-brands fa-apple"></i> Oh My Apple!</h3>
                </div>

                <div class="home-userBar">   
<!-- Agregar nombre al carrito y al perfil -->
                    <a href="#carrito"><i class="fa-solid fa-cart-arrow-down"></i></a>
                    <a href="login"><i class="fa-solid fa-user"></i></a>
                </div>
            </div>
            <div class="home-barraSuperior2">
                <div class="home-burger">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="home-navBar">
                        <input class="home-busqueda" type="text" placeholder="Buscar productos...">
                        <i class="fas fa-search"></i>
                </div>
            </div>
        </nav>

    </header>

    <main>

        <nav class="home-barraLateral">   
            <ul>
                <li><a href="#iPhone"><i id="iconBarraLateral" class="fa-solid fa-mobile-screen-button"></i>iPhone</a></li>
                <li><a href="#mac"><i id="iconBarraLateral" class="fa-solid fa-laptop"></i>Mac</a> </li>
                <li><a href="#airpods"><i id="iconBarraLateral" class="fa-sharp fa-solid fa-headphones-simple"></i>Airpods</a></li>
                <li><a href="#ipad"><i id="iconBarraLateral" class="fa-solid fa-tablet-screen-button"></i>Ipad</a></li>
                <li><a href="#watch"><i id="iconBarraLateral" class="fa-solid fa-clock"></i>Watch</a></li>
                <li><a href="#TV"><i id="iconBarraLateral" class="fa-solid fa-tv"></i>TV</a></li>
                <li><a href="#accesorios"><i id="iconBarraLateral" class="fa-solid fa-grip"></i>Accesorios</a></li>
            </ul>
        </nav>

    <div class="producto1">
        <img class="iphone14" src="/images/iphone14.jpg">
        <div class="descripcion">
        <h2 class="detalle-nombreProd">IPHONE 14</h2>
        <div class="selectores">
            <form class="detalle-form" action="/" method="GET">            
                <select name="select">
                    <option class="opcion" value="pro">PRO</option>
                    <option class="opcion" value="max">PRO MAX</option>
                    <option class="opcion" value="no">-</option>
                </select>
                <select name="select">
                    <option class="opcion" value="125">128 GB</option>
                    <option class="opcion" value="256">256 GB</option>
                    <option class="opcion" value="512">512 GB</option>
                </select>
                <select name="select">
                    <option class="opcion" value="P">PURPLE</option>
                    <option class="opcion" value="M">MIDNIGTH</option>
                    <option class="opcion" value="S">STARLIGTH</option>
                    <option class="opcion" value="B">BLUE</option>
                    <option class="opcion" value="R">RED</option>
                </select>
        </form>
        </div>
        <div class="precio">
            <h3 class="detalle-valor">$499.000 <i id="carrito" class="fa-solid fa-cart-arrow-down"></i></h3>
        </div>
        <div class="informacion">
            <p class="info">
                Diseñado para resistir tu día a día.
                <br>
                Frente de Ceramic Shield, más resistente que cualquier vidrio de smartphone. 
                Resistencia al agua.
            </p>
        </div>
       
        </div>
        </div>
        <div class="detalle-caract">
            <p class="detalle-caracteristicas">
                + CARACTERÍSTICAS
            </p>
            <ul class="detalle-especific">
                <li>Dimensiones y peso: Ancho: 7,15 cm, Alto: 14,67 cm, Grosor: 0,76 cm, Peso: 203 g</li>
                <li>Pantalla Super Retina XDR con ProMotion</li>
                <li>Resolución de 2.532 por 1.170 píxeles a 460 p/p</li>
                <li>Pantalla HDR</li>
                <li>Sistema de cámaras Pro de 12 Mpx con teleobjetivo, gran angular y ultra gran angular</li>
                <li>Teleobjetivo: apertura de ƒ/2,8</li>
                <li>Reconoci­miento facial mediante la cámara TrueDepth</li>
            </ul>
        </div>
        <div class="recomendados">
            <div class="divreco">
                <img class="reco" src="/images/funda.jpg">
                <i id= "mas" class="fa-solid fa-circle-plus"></i>
                <p class="descreco">FUNDAS</p>
            </div>
            <div class="divreco">
                <img class="reco" src="/images/cargador.jpg">
                <i id= "mas" class="fa-solid fa-circle-plus"></i>
                <p class="descreco">CARGADORES</p>
            </div>
            <div class="divreco">
                <img class="reco" src="/images/watch.jpg">
                <i id= "mas" class="fa-solid fa-circle-plus"></i>
                <p class="descreco">WATCHES</p>
            </div>
            
        </div>
        
      
        
       
    </main>    
    <footer class="home-footer">
        <h4>Términos y condiciones - Políticas de privacidad. Copyright 2022</h4>
        <img src="/images/logos/facebook.png" alt="logo-Facebook">
        <img src="/images/logos/instagram.png" alt="logo-Instagram">
    </footer>
</body>

</html>