<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <META name="viewport" content=""widht=device-width, inicitial-scal="1.0">
        <link href = "https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel = "stylesheet"/>
        <script src="https://kit.fontawesome.com/2f3c4114c6.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/homestyles.css">
        <title>Oh My Apple</title>
        
</head>
<body>
    <header>
        <nav>
            <div class="home-barraSuperior">
                <div class="home-logo">
                    <h3><i class="fa-brands fa-apple"></i> Oh My Apple!</h3>
                </div>

                <div class="home-navBar">
                    <input class="home-busqueda" type="text" placeholder="Buscar productos...">
                </div>            
                <div class="home-userBar">   
<!-- Agregar nombre al carrito y al perfil -->
                    <a href="#carrito"><i id="carrito" class="fa-solid fa-cart-arrow-down"></i></a>
                    <a href="login"><i id="perfil" class="fa-solid fa-user"></i></a>
                    <i id = "burger" class="fas fa-bars"></i>
                </div>
            </div>
            
            <div class="home-barraLateral">   
                <ul>
                    <li><a href="#iPhone"><i id="iconBarraLateral" class="fa-solid fa-mobile-screen-button"></i>iPhone</a></li>
                    <li><a href="#mac"><i id="iconBarraLateral" class="fa-solid fa-laptop"></i>Mac</a> </li>
                    <li><a href="#airpods"><i id="iconBarraLateral" class="fa-sharp fa-solid fa-headphones-simple"></i>Airpods</a></li>
                    <li><a href="#ipad"><i id="iconBarraLateral" class="fa-solid fa-tablet-screen-button"></i>Ipad</a></li>
                    <li><a href="#watch"><i id="iconBarraLateral" class="fa-solid fa-clock"></i>Watch</a></li>
                    <li><a href="#TV"><i id="iconBarraLateral" class="fa-solid fa-tv"></i>TV</a></li>
                    <li><a href="#accesorios"><i id="iconBarraLateral" class="fa-solid fa-grip"></i>Accesorios</a></li>
                </ul>
            </div>   
        </nav>

    </header>

    <main>

    </main>    
    <footer>

    </footer>
</body>

</html>