<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <META name="viewport" content=""widht=device-width, inicitial-scal="1.0">
        <link href = "https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel = "stylesheet"/>
        <script src="https://kit.fontawesome.com/2f3c4114c6.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/homestyles.css">
        <title>Oh My Apple</title>
        
</head>
<body>
    <header class="home-mainHeader">
        <nav>
            <div class="home-barraSuperior">
                <div class="home-logo">
                    <a href="/"><img src="/images/logos/OhMyApple.png" alt="LogoOhMyApple"></a>
                </div>
                <div class="home-navBarHidden">
                    <input class="home-busqueda" type="text" placeholder="Buscar productos...">
                    <i class="fas fa-search"></i>
                </div>
                <div class="home-userBar">   
<!-- Agregar nombre al carrito y al perfil -->
                    <a href="carrito"><i class="fa-solid fa-cart-arrow-down"></i></a>
                    <a href="login"><i class="fa-solid fa-user"></i></a>
                </div>
            </div>
            <div class="home-barraSuperior2">
                <div class="home-burger">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="home-navBar">
                        <input class="home-busqueda" type="text" placeholder="Buscar productos...">
                        <i class="fas fa-search"></i>
                </div>
            </div>
        </nav>

    </header>

    <main class="home-main">
        <nav class="home-barraLateral">   
            <ul>
                <li><a href="#iPhone"><i id="iconBarraLateral" class="fa-solid fa-mobile-screen-button"></i>iPhone</a></li>
                <li><a href="#mac"><i id="iconBarraLateral" class="fa-solid fa-laptop"></i>Mac</a> </li>
                <li><a href="#airpods"><i id="iconBarraLateral" class="fa-sharp fa-solid fa-headphones-simple"></i>AirPods</a></li>
                <li><a href="#ipad"><i id="iconBarraLateral" class="fa-solid fa-tablet-screen-button"></i>iPad</a></li>
                <li><a href="#watch"><i id="iconBarraLateral" class="fa-solid fa-clock"></i>Watch</a></li>
                <li><a href="#TV"><i id="iconBarraLateral" class="fa-solid fa-tv"></i>TV</a></li>
                <li><a href="#accesorios"><i id="iconBarraLateral" class="fa-solid fa-grip"></i>Accesorios</a></li>
            </ul>
        </nav>
    <section class="home-mainSection">
        <article class="home-sectionBanner">
            <div class="home-banner"></div>
        </article>
    
        <article class="home-informacion">
            <div class="home-mediosDePago">
                <h3>Medios de Pago</h3>
                <img src="/images/logos/efectivo.png" alt="logo-Efectivo">
                <img src="/images/logos/visa.png" alt="logo-Visa">
                <img src="/images/logos/masterCard.png" alt="logo-MasterCard">
                <img src="/images/logos/amex.png" alt="logo-Amex">
                <img class="home-mp" src="/images/logos/mercadopago.svg" alt="logo-MercadoPago">
            </div>
            <div class="home-envios">
                <h3>Envíos a todo el país</h3>
                <i class="fa-solid fa-truck"></i>
            </div>

        </article>
        
        <article class="home-grid">
            <div class="home-CategProductos">
                <div class="home-item home-Mac">
                    <p>Mac</p>
                </div>
                <div class="home-item home-Ipad">
                    <p>iPad</p>
                </div>
                <div class="home-item home-Watch">
                    <p>Watch</p>
                </div>
                <div class="home-item home-iPhone">
                    <p>iPhone</p>
                </div>
                <div class="home-item home-Airpods">
                    <p>AirPods</p>
                </div>
            </div>
        </article>
    </section>
    </main>    
    <footer class="home-footer">
        <h4>Términos y condiciones - Políticas de privacidad. Copyright 2022</h4>
        <img src="/images/logos/facebook.png" alt="logo-Facebook">
        <img src="/images/logos/instagram.png" alt="logo-Instagram">
    </footer>
</body>

</html>