/* General Styles  */

* {
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    background-color: rgb(193, 199, 200);
    margin: 0;
    padding: 0;
}

a, .fas {
    text-decoration: none;
    color: rgb(139, 154, 187);
}

/* Carrito Seccion1  */
/* Carrito Seccion1  */
.carrito-seccion1{
    display: flex;
}

.carrito-resumen{
    width: 100%;
    margin: 10px;
}
.carrito-desplegable-resumen, .carrito-desplegable-facturacion, .carrito-desplegable-envio, .carrito-desplegable-pago{
    background-color: black;
    color: white;
    border: 2px solid rgb(30, 40, 53);
    font-size: 25px;
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carrito-columnas{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
    padding: 15px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    box-shadow: 0px 0px 30px black;
}
.carrito-columna-imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.carrito-columna-imagen img{
    height: 50px;
    width: 50px;
}
.carrito-columna-producto{
    align-items: center;
    justify-content: center;
    width: 20%;
}
.carrito-columna-cantidad{
    
    align-items: flex-start;
    width: 20%;
}
.carrito-columna-producto{
    align-items: center;
    width: 20%;
}
.carrito-columna-subtotal{
    align-items: center;
    width: 20%;
}
.carrito-columna-total{
    align-items: center;
    width: 20%;
}
.carrito-totales{
    justify-content: center;
    width: 20%;
    padding: 15px;
}

/* Carrito Seccion2  */
/* Carrito Seccion2  */
/* Carrito Seccion2  */

.carrito-seccion2{
    
    display: flex;
}
.carrito-facturacion{
    
    width: 100%;
    margin: 10px;
}




/* Carrito Seccion3  */
/* Carrito Seccion3  */
/* Carrito Seccion3  */
.carrito-seccion3{
    display: flex;
    flex-wrap: wrap;
}
.carrito-datos-facturacion{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0px 0px 30px black;
    border-radius: 5px;
}
.carrito-datos-facturacion div{
    padding: 5px;
}

.carrito-envio{
    width: 100%;
    margin: 10px;
}

.carrito-datos-envio{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 0px 0px 30px black;
  border-radius: 5px;
}
.carrito-dato{
    margin: 10px;
}

/* Carrito Seccion4  */
/* Carrito Seccion4  */
/* Carrito Seccion4  */
.carrito-seccion4{
    display: flex;
}
.carrito-pago{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.carrito-formulario-pago{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px 100px;
    margin: 70px 0px;
    width: 60%;
    border: 2px solid black;
    border-radius: 20%;
    box-shadow: 0px 0px 30px black;
}
.carrito-formulario-pago label{
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}    
.carrito-formulario-pago input{
    width: 100%;
    font-size: 30px;
}
.carrito-mediosdepago{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 70%;
    justify-content: space-evenly;
}
.carrito-opcion{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 33%;
    border: 8px solid black;
    border-radius: 5px;
}
.carrito-mediosdepago i{
    font-size: 40px;
}

input:invalid{
    background-color: pink;
    border: 2px solid red;
}

.carrito-boton-comprar{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin: 30px;
    background-color: black;
    border-radius: 5px;
    height: 60px;
    width: 30%;   
}
.carrito-boton-comprar h3{
    font-size: 20px;
    color: white;
}