
/* General Styles  */

* {
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    background-color: rgb(193, 199, 200);
    margin: 0;
    padding: 0;
}

a, .fas {
    text-decoration: none;
    color: rgb(139, 154, 187);
}

/* Main Styles */


.detalle-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.home-barraLateral{
    display: none;
}
.iphone14{
    display: flex;
    align-self: center;
    width: 90%;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(100, 100, 100);
}
.detalle-divimg{
   display: flex;
   justify-content: center;
   width: 50%;
}
.detalle-nombreProd{
    font-size: 27px;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 7px;
    padding: 0px;
}
.producto1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 5px;
}
.selectores{
    display: flex;
    justify-content: space-around;
    height: 10%;
    align-items: center;
}
.detalle-form{
    width: 100%;
    text-align: center;
}

select{
    font-size: 10px;
    border-radius: 20px;
    padding-left: 5px;
    width: 30%;
 
}
.opcion{
    font-size: 10px;
}
.descripcion{
    width: 50%;
   
}
.imgDetalle{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
.detalle-valor{
    font-size: 25px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
    color: #009ddf;
}
.info{
    font-family: "Helvetica";
    font-size: 12px;
    line-height: 14px;
    width: 100%;
    padding: 0px 15px;
    margin: 0px;
    text-align: left;
}
.informacion{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.detalle-caract-desktop{
    display: none;
}
.detalle-caracteristicas{
    font-size: 17px;
    text-align: center;
}
.detalle-especific{
    font-family: "Helvetica";
    font-size: 13px;
    margin-right: 10px;
    padding-left: 32px;
    padding-bottom: 5px;
    text-align: left;
}
.recomendados{
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 9px 0px;
    margin-top: 0;
}
.reco{
    width: 90%;
}
.divreco{
    width: 33%;
    display: flex;
    justify-content: center;
    position: relative;
}
#mas{
    position: absolute;
    display: block;
    justify-content: center;
    align-self: center;
    background-color: #ffffff;
    font-size: 25px;
    padding: 3px;
    border-radius: 50%;
}
.descreco{
    display: none;
    color: #ffffff;
    background-color: black;
    font-size: 25px;
    padding: 5px;
    position: absolute;
}




@media (min-width: 720px ){
  
    .iphone14{
        width: 70%;
    }
    .detalle-nombreProd{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .detalle-form{
        margin: 15px 0px;
    }
    .producto1{
        padding-bottom: 10px;
        margin-top: 15px;
    }
    .selectores{
        height: 15%;
    }
    select{
        font-size: 18px;
    }
    .detalle-valor{
        font-size: 30px;
        margin-top: 5px;
    }
    .info{
        font-family: "Helvetica";
        font-size: 22px;
        line-height: 23px;
        width: 100%;
        margin: 0px;
        margin-top: 10px;
    }
    .informacion{
        margin-top: 10px;
    }
    .reco{
        width: 90%;
    }
    .divreco{
        width: 33%;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .descreco{
        display: none;
        color: #ffffff;
        background-color: black;
        font-size: 25px;
        padding: 5px;
        position: absolute;
    }
}

@media (min-width: 1200px ){
.iphone14:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}
.detalle-main{
    flex-direction: row;
    flex-wrap: nowrap;
}
.recomendados{
    display: flex;
    flex-direction: column;
    background-color: rgb(193, 199, 200);
    justify-content: flex-start;
}
.divreco{
    width: 250px;
    padding: 10px 0px;
}
.reco{
    width: 140px;
    border: 1.5px #009ddf solid;
    box-shadow: 0px 0px 20px rgb(100, 100, 100);
}
#mas{
    font-size: 35px;
}
#mas:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.producto1{
    width: 80%;
    display: flex;
    justify-content: flex-start;
}
.detalle-caract{
    width: 100%;
}
.detalle-caracteristicas{
    text-align: left;
    margin-left: 70px;
    margin-top: 40px;
    font-size: 22px;
}
.detalle-especific{
    font-size: 18px;
    margin-left: 57px;
}
}