/* Paleta de colores

Beige: 210, 208, 199
Azul Oscuro: 30, 40, 53 --> Para bordes es muy oscuro
Azul Claro: 35, 38, 76
Celeste Oscuro: 90, 105, 148
Celeste Claro: 139, 154, 187
Gris: 193, 199, 200 --> Fondo

*/

/* General Styles  */

* {
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    background-color: rgb(193, 199, 200);
    margin: 0;
    padding: 0;
}

a, .fas {
    text-decoration: none;
    color: rgb(139, 154, 187);
}
/* Header Styles  */

header{
    background-color: black;
}

.home-mainHeader{
    margin: 30px 0;
}

/* Barra Superior Uno */

h3 {
    color: rgb(139, 154, 187);
}

.home-barraSuperior {
    display: flex;
    justify-content: space-around;
    font-size: 46px;
    align-items: center;
    background-color: black;
    height: 50%;
}

.home-logo {
    align-self: flex-start;
    width: 40%;
}

.home-userBar {
    display: flex;
    justify-content: space-around;
    width: 30%;
    font-size: 60px;
}


/* Barra Superior Dos */


.home-barraSuperior2 {
    display: flex;
    justify-content: space-around;
    font-size: 70px;
    padding: 40px;
    align-items: center;
    background-color: black;
}

.home-navBar {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 1px;
    width: 50%;
    height: 50%;
    background-color: rgb(139, 154, 187);
    border: white;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    font-size: 70px;
}

.home-busqueda {
    font-size: 30px;
    border: 1px solid black;
    border-radius: 1px;
    width: 88%;
    height: 90%;
    background-color: rgb(193, 199, 200);
    display: flex;
    justify-content: space-between;
    border: white;
    border-radius: 10px;
    padding: 5px;
}

.home-navBar i {
    display: flex;
    width: 10%;
    color: rgb(30, 40, 53);
    font-size: 30px;
}

/* Barra Lateral */


.home-barraLateral {
    display: none;
    width: 16%;
    height: 100%;
    padding-left: 20px;
    justify-content: center;
    background-color: rgb(139, 154, 187);
    border: 2px double #666;
    border-right: 3px double #666;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}

.home-barraLateral ul {
    display: inline;   
    list-style: none;
    margin: 0;
    padding: 0;    
}

.home-barraLateral li {
    line-height: 50px;
    padding-left: 1px;
}

.home-barraLateral a {
    text-decoration: none;
    color: #222222;
}

.home-barraLateral i {
    padding-right: 20px;
}

/* Footer Styles */

.home-footer {
    display: flex;
    justify-content: space-around;
    font-size: 46px;
    align-items: center;
    background-color: black;
    margin-bottom: 20px;
    height: 50%;   
    margin-top: 20px;
}

.home-footer h4 {
    font-size: 20px;
    color: rgb(139, 154, 187);
}

.home-barraLateral{
    display: none;
}
.iphone14{
    display: flex;
    align-self: center;
    width: 40%;
    margin-top: 30px;
    border-radius: 15px;
}
.detalle-nombreProd{
    font-size: 55px;
    margin-top: 65px;
    text-align: center;
    margin-bottom: 0px;
    padding: 0px;
}
.producto1{
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    padding-bottom: 30px;
}
.selectores{
    display: flex;
    justify-content: space-around;
    height: 20%;
    align-items: center;
}
.detalle-form{
    width: 150%;
    text-align: center;
}

select{
    font-size: 30px;
    border-radius: 20px;
    padding-left: 5px;
    width: 30%;
 
}
.opcion{
    font-size: 10px;
}
.descripcion{
    width: 60%;
}
.detalle-valor{
    font-size: 45px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 12px;
    color: #009ddf;
}
.info{
    font-family: "Helvetica";
    font-size: 30px;
    line-height: 40px;
    border-radius: 20px;
    width: 90%;
    padding: 10px;
    margin: 0px;
}
.informacion{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.detalle-caract{
    background-color: #ffffff;
    margin-bottom: 0;
}
.detalle-caracteristicas{
    font-size: 22px;
    text-align: center;
    margin-top: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}
.detalle-especific{
    font-family: "Helvetica";
    font-size: 13px;
    margin-left: 20px;
    margin-right: 30px;
    padding-bottom: 40px;
    text-align: start;
}
.recomendados{
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 30px 0px;
    margin-top: 0;
}
.reco{
    width: 90%;
}
.divreco{
    width: 33%;
    display: flex;
    justify-content: center;
    position: relative;
}
#mas{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 105px;
    background-color: #ffffff;
    font-size: 70px;
    padding: 7px;
    border-radius: 50%;
}
.descreco{
    display: none;
    color: #ffffff;
    background-color: black;
    font-size: 25px;
    padding: 5px;
    position: absolute;
}



