/* Paleta de colores

Beige: 210, 208, 199
Azul Oscuro: 30, 40, 53 --> Para bordes es muy oscuro
Azul Claro: 35, 38, 76
Celeste Oscuro: 90, 105, 148
Celeste Claro: 139, 154, 187
Gris: 193, 199, 200 --> Fondo

*/

/* General Styles  */

* {
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

a, .fas {
    text-decoration: none;
    color: rgb(139, 154, 187);
}
/* Header Styles  */

.home-mainHeader {
    margin: 10px 0 5px;
    background-color: black;
}

.home-boton-lupa {
    border: none;
    background: none;
    cursor: pointer;
}
.home-logueo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-cerrarSesion {
    font-size: 10px;
}
/* Barra Superior Uno */

h3 {
    color: rgb(139, 154, 187);
}
.home-navBarHidden {
    display: none;
}
.home-barraSuperior {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.home-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.home-logo img{
    display: flex;
    align-self: center;
    width: 40%;
}

.home-userBar {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    font-size: 30px;
}


/* Barra Superior Dos */


.home-barraSuperior2 {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
.home-burger {
    font-size: 30px;
}

.home-navBar {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(139, 154, 187);
    border-radius: 10px;
    padding: 1px;
    border: 3px solid rgb(139, 154, 187);
}

.home-busqueda {
    display: flex;
    width: 88%;
    border: 1px solid rgb(118, 118, 118);
    background-color: rgb(193, 199, 200);
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
}

.home-navBar i {
    display: flex;
    align-self: center;
    padding-left: 2px;
    color: black;
    font-size: 20px;
}
/* Barra Lateral */
.home-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.home-barraLateral {
    display: none;
    width: 20%;
    height: fit-content;
    justify-content: space-evenly;
    background-color: rgb(109, 124, 146);
    border: 2px double #666;
    border-right: 3px double #666;
    border-radius: 5px;
}

.home-barraLateral ul {
    display: inline;   
    list-style: none;
    margin: 0;
    padding: 0;    
}

.home-barraLateral li {
    font-size: 20px;
    line-height: 80px;
    padding-left: 1px;
}

.home-barraLateral a {
    text-decoration: none;
    color: black;
}

.home-barraLateral i {
    padding-right: 20px;
}

/* Main Styles  */

.home-sectionBanner {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.home-banner {
    display: flex;
    position: relative;
    width: 95%;
    height: 200px;
    animation: banner 10s infinite linear alternate;
    background-size: 100% 100%;
    box-shadow: 2px 2px 15px 25px rgb(109, 124, 146);
}

@keyframes banner {
    0%, 20%{
        background-image: url(../images/ipad/Ipad1.jpg)
    }
    25%, 45%{
        background-image: url(../images/iphone/Iphone1.jpg)
    }
    50%, 70%{
        background-image: url(../images/mac/Macbook3.jpeg)
    }
    75%, 100%{
        background-image: url(../images/watch/Watch2.jpg)
    }
}

.home-informacion {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 20px 20px 5px;
}

.home-informacion h3 {
    color: rgb(193, 199, 200);
    font-size: 12px;
}

.home-mediosDePago {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 20px;
    margin-bottom: 5px;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: black;
}

.home-mediosDePago img {
    width: 8%;
}

.home-envios {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 20px;
    margin-top: 5px;
    padding: 10px 20px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    background-color: black;
}

.home-envios i {
    font-size: 20px;
    position: relative;
    color: #009ddf;
    animation: mymove 5s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes mymove {
    0%   {left: 0px;}
    50%  {left: 150px;}
    75%  {left: 75px}
    100% {left: 0px;}
}

/* Collage Categorías */

.home-CategProductos {
    display: grid;
    padding: 5px;
    margin: 5px 10px;
    background-color: #666;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
}

  .home-CategProductos p {
    display: none;
    align-self: flex-start;
    padding: 10px;
    margin: 0px;
    color: white;
    font-size: 30px;  
    background-color: rgb(1, 1, 1, 0.3);
}
.home-CategProductos .home-Mac p {
    color: white;
    background-color: rgb(255,255,255, 0.1);
}
.home-CategProductos .home-iPhone p {
    color: white;
    background-color: rgb(255,255,255, 0.1);
}
.home-CategProductos .home-Ipad p {
    color: white;
    background-color: rgb(255,255,255, 0.1);
}
  .home-Mac {
    grid-column: 1 / span 3;
    grid-row: 1;
    background-color: black;
    background-image: url(/images/mac/Macbook4.jpeg);
    background-size: 250px;
    background-position: top;
    background-repeat: no-repeat;
    
  }
  .home-iPhone {
    grid-column: 1 / span 2;
    grid-row: 2;
    background-color: black;
    background-image: url(/images/iphone/Iphone2.jpg);
    background-size: 200px;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  .home-Ipad {
    grid-column: 3 / 3;
    grid-row: 2 / span 2;
    background-color: black;
    background-image: url(/images/ipad/Ipad2.png);
    background-size: 200px;
    background-position: left;
    background-repeat: no-repeat;
  }
  .home-Airpods {
    grid-column: 1;
    grid-row: 3;
    background-color: white;
    background-image: url(/images/airpods/airpods2.png);
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .home-Watch {
    grid-column: 2;
    grid-row: 3;
    background-color: white;
    background-image: url(/images/watch/Watch4.jpg);
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    }
/* Media Queries Tablet Styles */
@media (min-width: 720px) {
    .home-banner {
        height: 300px;
    }
    .home-informacion h3 {
        font-size: 18px;
    }
    .home-CategProductos {
        padding: 5px;
        margin: 5px 70px;
        background-color: #666;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        grid-auto-rows: minmax(130px, auto);
    }
    .home-Mac {
        background-size: 350px;
    }
    .home-iPhone {
    background-size: 250px;
    }
    .home-Ipad {
        background-size: 250px;
        background-position: left;
    }
    .home-Airpods {
        background-size: 150px;
        background-position: center;
    }
    .home-Watch {
        background-size: 150px;
        background-position: center;
    }
    /* Media Queries Footer */
    .home-footer {
        padding: 0 50px;
    }
    .home-footer-terms {
        font-size: 15px;
    }
    .home-footer-logos {
        display: flex;
        flex-wrap: nowrap;
        width: 80px;
        justify-content: space-around;
    }
    .home-footer img {
        display: flex;
        align-self: center;
        width: 25px;
        border-radius: 4px;
    }
}

/* Media Queries Desktop Styles */
@media (min-width: 1200px ) {
    .home-logo {
        width: 30%;
    }
    .home-logo img{
        width: 70%;
    }
    .home-barraSuperior2 {
        display: none;
    }
    .home-navBarHidden {
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        border-radius: 1px;
        width: 50%;
        background-color: rgb(139, 154, 187);
        border: white;
        border-radius: 10px;
        padding: 5px;
        align-items: center;
        font-size: 70px;
    }
    .home-navBarHidden i {
        display: flex;
        width: 10%;
        color: rgb(30, 40, 53);
        font-size: 30px;
    }
    .home-mainSection {
        width: 80%;
    }
    .home-barraLateral {
        display: flex;
    }
    .home-CategProductos {
        padding: 5px;
        margin: 5px 10px;
        background-color: #666;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 5px;
        grid-auto-rows: minmax(300px, auto);
    }
    .home-Mac {
        grid-column: 1;
        grid-row: 1;
        background-size: 300px;
        background-position: center;
      }
      .home-iPhone {
        grid-column: 3;
        grid-row: 1;
        background-size: 400px;
        background-position: bottom;
      }
      .home-Ipad {
        grid-column: 5;
        grid-row: 1;
        background-size: 250px;
        background-position: center;
      }
      .home-Airpods {
        grid-column: 4;
        grid-row: 1;
        background-size: 250px;
        background-position: center;
      }
      .home-Watch {
        grid-column: 2;
        grid-row: 1;
        background-size: 250px;
        background-position: center;
        }
    /*  */
    .home-CategProductos :hover p {
        display: flex;
    }
    .home-CategProductos :hover {
        filter: opacity(0.9);
        transform: scale(1.1,1.1);
    }
    .home-banner {
        height: 400px;
    }
    .home-informacion {
        flex-direction: row;
        justify-content: space-around;
        margin: 40px 20px 15px;
        width: auto;
        border: 2px solid rgb(30, 40, 53);
        background-color: black;
        border-radius: 20px;
    }
    .home-informacion h3 {
        color: rgb(193, 199, 200);
        margin: 0;
        padding: 0;
        font-size: 30px;
    }
    .home-informacion img {
        margin: 0;
        padding: 5px;
        width: 50px;
    }
    .home-mediosDePago {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        margin-right: 0;
        border: none;
        padding: 0;
    }
    .home-envios {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        border: none;
    }
    .home-envios i {
        padding: 20px;
        font-size: 30px;
    }
    @keyframes mymove {
        0%   {left: 0px;}
        50%  {left: 50px;}
        75%  {left: 25px}
        100% {left: 0px;}
    }
}
/* Footer Styles */

.home-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    margin: 10px 0;
    padding: 0 10px;
}
.home-footer-terms {
    font-size: 8px;
    color: rgb(139, 154, 187);
}
.home-footer-logos {
    display: flex;
    flex-wrap: nowrap;
    width: 80px;
    justify-content: space-around;
}
.home-footer img {
    display: flex;
    align-self: center;
    width: 25px;
    border-radius: 4px;
}