<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %>
<body>
    <%- include ('partials/header') %>
    <main class="detalle-main">
        <%- include ('partials/sideBar') %>

        <div class="creacion-div-formulario">
            <form class="creacion-formulario" action="/productos/creacion" method="POST" enctype="multipart/form-data">
                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="nombre"> Nombre del producto:</label>
                    </div>
                    <div class="creacion-width75">
                        <input id="nombre" type="text" name="nombre" placeholder="Ej.: Macbook">
                    </div>
                </div>

                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="precio"> Precio:</label>
                    </div>
                    <div class="creacion-width75">
                        <input id="precio" type="number" name="precio" placeholder="Ej.: 200000">
                    </div>
                </div>

                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="modelo"> Modelo:</label>
                    </div>
                    <div class="creacion-width75">
                        <select class="creacion-modelo" name="modelo">
                            <option name="modelo" value="-">-</option>
                            <option name="modelo" value="2da Gen">2da Gen</option>
                            <option name="modelo" value="Air">Air</option>
                            <option name="modelo" value="Cargador">Cargador</option>
                            <option name="modelo" value="Funda">Funda</option>
                            <option name="modelo" value="iPad">iPad</option>
                            <option name="modelo" value="Lapiz">Lapiz</option>
                            <option name="modelo" value="Max">Max</option>
                            <option name="modelo" value="Mini">Mini</option>
                            <option name="modelo" value="Plus">Plus</option>
                            <option name="modelo" value="Pro">Pro</option>
                            <option name="modelo" value="Pro 2da Gen">Pro 2da Gen</option>
                            <option name="modelo" value="Pro Max">Pro Max</option>
                            <option name="modelo" value="SE">SE</option>
                            <option name="modelo" value="Series 8">Series 8</option>
                            <option name="modelo" value="Teclado">Teclado</option>
                        </select>
                    </div>
                </div>

                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="capacidad"> Capacidad:</label>
                    </div>
                    <div class="creacion-width75">
                        <select class="creacion-gb" name="capacidad">
                            <option name="capacidad" value="N/A">N/A</option>
                            <option name="capacidad" value="64 GB">64 GB</option>
                            <option name="capacidad" value="128 GB">128 GB</option>
                            <option name="capacidad" value="256 GB">256 GB</option>
                            <option name="capacidad" value="512 GB">512 GB</option>
                        </select>
                    </div>
                </div>

                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="color"> Color:</label>
                    </div>
                    <div class="creacion-width75">
                        <select class="creacion-color" name="color">
                            <option name="color" value="Azul">Azul</option>
                            <option name="color" value="Blanco">Blanco</option>
                            <option name="color" value="Dorado">Dorado</option>
                            <option name="color" value="Gris espacial">Gris espacial</option>
                            <option name="color" value="Medianoche">Medianoche</option>
                            <option name="color" value="Morado">Morado</option>
                            <option name="color" value="Negro">Negro</option>
                            <option name="color" value="Plata">Plata</option>
                            <option name="color" value="Purple">Purple</option>
                            <option name="color" value="Rosa">Rosa</option>
                            <option name="color" value="Silver">Silver</option>
                        </select>
                    </div>
                </div>
                
                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="categoria"> Categoría:</label>
                    </div>
                    <div class="creacion-width75">
                        <select class="creacion-categoria" name="categoria">
                            <option name="categoria" value="iPhone">iPhone</option>
                            <option name="categoria" value="Mac">Mac</option>
                            <option name="categoria" value="AirPods">AirPods</option>
                            <option name="categoria" value="iPad">iPad</option>
                            <option name="categoria" value="Watch">Watch</option>
                            <option name="categoria" value="Accesorios">Accesorios</option>
                        </select>
                    </div>
                </div>
                            
                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="descripcion"> Descripción:</label>
                    </div>
                    <div class="creacion-width75">
                        <textarea name="descripcion" id="descripcion" cols="30" rows="2" placeholder="Agrega la descripción de tu producto..."></textarea>
                    </div>
                </div>
                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="caracteristicas"> Características:</label>
                    </div>
                    <div class="creacion-width75">
                        <textarea name="caracteristicas" id="caracteristicas" cols="30" rows="2" placeholder="Agrega las características de tu producto..."></textarea>
                    </div>
                </div>
                
                <div class="creacion-container">
                    <div class="creacion-width25">
                        <label for="imagen"> Imagen:</label>
                    </div>
                    <div class="creacion-width75">
                        <input id="imagen" type="file" name="imagen">
                    </div>
                </div>

                <div class="creacion-div-button-crear">
                    <button class="creacion-button-crear">Crear</button>
                </div>
            </form>
        </div>
    </main>
    <%- include ('partials/footer') %>
</body>

</html> 