<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %>
<body>
    <%- include ('partials/header') %>
    <main class="detalle-main">
        <%- include ('partials/sideBar') %>
        <div class="productoSections">
        <section class="seciphone" id="seccioniphone">
            
            <p class="productoCategoria">iPhone</p>

            <div class="productosListaIphone">
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>

                </div>
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>
                </div>
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>
                </div>
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>
                </div>
           
            </div>

        </section>

        <section class="seciphone" id="seccionmac">
            
            <p class="productoCategoria">Mac</p>

            <div class="productosListaIphone">
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>

                </div>
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>
                </div>
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>
                </div>
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>
                </div>
            </div>

        </section>

        <section class="seciphone" id="seccionairpods">
            
            <p class="productoCategoria">AirPods</p>

            <div class="productosListaIphone">
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>

                </div>
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>
                </div>
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>
                </div>
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>
                </div>
            </div>

        </section>

        <section class="seciphone" id="seccionipad">
            
            <p class="productoCategoria">iPad</p>

            <div class="productosListaIphone">
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>

                </div>
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>
                </div>
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>
                </div>
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>
                </div>
            </div>

        </section>

        <section class="seciphone" id="seccionwatch">
            
            <p class="productoCategoria">Watch</p>

            <div class="productosListaIphone">
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>

                </div>
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>
                </div>
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>
                </div>
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>
                </div>
            </div>

        </section>

        <section class="seciphone" id="secciontv">
            
            <p class="productoCategoria">TV</p>

            <div class="productosListaIphone">
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>

                </div>
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>
                </div>
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>
                </div>
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>
                </div>
            </div>

        </section>

        <section class="seciphone" id="seccionaccesorios">
            
            <p class="productoCategoria">Accesorios</p>

            <div class="productosListaIphone">
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>

                </div>
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>
                </div>
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>
                </div>
                <div class="productos">
                    <img class="productoimg" src="/images/iphone/iphone14.jpg">
                        <h2 class="productonombre">Nombre Prod</h2>
                        <h3 class="productoprecio">$999.999</h3>
                        <p class="productodescripcion">Descripción producto</p>
                </div>
            </div>

        </section>
    </div>


    </main>    
    <%- include ('partials/footer') %>
</body>

</html> 