<!DOCTYPE html>
<html lang="en">
  <%- include ('partials/head') %>
  <body>
    <%- include ('partials/header') %>
    <main class="register-main">
      <%- include ('partials/sideBar') %>      
      <div class="register-master-form">
        <form
          action="/user/register"
          method="POST"
          class="register-form-box"
          animated
          animate__backInLeft
        >
          <p class="register-form-tittle">Registro</p>
          <input type="email" name="email" placeholder="Email" />
          <input type="text" name="usuario" placeholder="Usuario" />
          <input type="password" name="password" placeholder="Contraseña" />
          <input type="password" name="password2" placeholder="Repetir contraseña" />
          <button type="submit">Registro</button>
        </form>
      </div>
    </main>
    <%- include ('partials/footer') %>
  </body>
</html>