<footer class="home-footer">
    <h4 class="home-footer-terms">Términos y condiciones - Políticas de privacidad. Copyright 2022</h4>
    <div class="home-footer-logos">
        <img src="/images/logos/facebook.png" alt="logo-Facebook">
        <img src="/images/logos/instagram.png" alt="logo-Instagram">
    </div>
</footer>