<header class="home-mainHeader">
    <nav>
        <div class="home-barraSuperior">
            <div class="home-logo">
                <a href="/"><img src="/images/logos/OhMyApple.png" alt="LogoOhMyApple"></a>
            </div>
            
            <form class="home-navBarHidden" action="/buscar" method="GET">
                <input class="home-busqueda" type="text" name="consulta" placeholder="Buscar productos...">
                <button class="home-boton-lupa"><i class="fas fa-search"></i></button>
            </form>
            
            <div class="home-userBar">   
<!-- Agregar nombre al carrito y al perfil -->
                <a href="/productos/carrito"><i class="fa-solid fa-cart-arrow-down"></i></a>
                <div class="home-logueo">
                    <!-- <option name="modelo" value="1" <%= productoAEditar.modelo_id == "1" ? "selected" : "" %>>2da Gen</option> -->
<!-- 
                    <% userToLogin != undefined ? %><a href="<%=/user/perfil/%>" + userToLogin.id ><i class="fa-solid fa-user"></i></a> -->
                    <% if ( userToLogin != undefined){ %>
                    <a href="/user/perfil/" + userToLogin.id ><i class="fa-solid fa-user"></i></a>
                    <% } else if %>
                    <% { %>
                        <a href="/user/login"><i class="fa-solid fa-user"></i></a>
                    <% } %>
                    <% if ( userToLogin != undefined){ %>
                       
                    <a href="/user/logout" class="home-cerrarSesion">Cerrar Sesión</a>
                        
                    <% } %>
                </div>
            </div>
        </div>
        <div class="home-barraSuperior2">
            <div class="home-burger">
                <a href="#" class="burger"><i class="fas fa-bars"></i></a>
            </div>
            
            <form class="home-navBar" action="/buscar" method="GET">
                <input class="home-busqueda" type="text" name="consulta" placeholder="Buscar productos...">
                <button class="home-boton-lupa"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </nav>

</header>