<header class="home-mainHeader">
    <nav>
        <div class="home-barraSuperior">
            <div class="home-logo">
                <a href="/"><img src="/images/logos/OhMyApple.png" alt="LogoOhMyApple"></a>
            </div>
            
            <form class="home-navBarHidden" action="/buscar" method="GET">
                <input class="home-busqueda" type="text" name="consulta" placeholder="Buscar productos...">
                <button class="home-boton-lupa"><i class="fas fa-search"></i></button>
            </form>
            
            <div class="home-userBar">   
<!-- Agregar nombre al carrito y al perfil -->
                <a href="/productos/carrito"><i class="fa-solid fa-cart-arrow-down"></i></a>
                <div class="home-logueo">
                    <a href="/user/login"><i class="fa-solid fa-user"></i></a>
                    <% if ( userToLogin != undefined){ %>
                       
                    <a href="/user/logout" class="home-cerrarSesion">Cerrar Sesión</a>
                        
                    <% } %>
                </div>
            </div>
        </div>
        <div class="home-barraSuperior2">
            <div class="home-burger">
                <i class="fas fa-bars"></i>
            </div>
            
            <form class="home-navBar" action="/buscar" method="GET">
                <input class="home-busqueda" type="text" name="consulta" placeholder="Buscar productos...">
                <button class="home-boton-lupa"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </nav>

</header>