<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href = "https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel = "stylesheet"/>
        <script src="https://kit.fontawesome.com/2f3c4114c6.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/homestyles.css">
        <link rel="stylesheet" href="/css/carritostyles.css">
        <link rel="stylesheet" href="/css/detalledeproductostyles.css">
        <link rel="stylesheet" href="/css/loginstyles.css">
        <link rel="stylesheet" href="/css/registerstyles.css">
        <title>Oh My Apple</title>
        
</head>