<header class="home-mainHeader">
    <nav>
        <div class="home-barraSuperior">
            <div class="home-logo">
                <a href="/"><img src="/images/logos/OhMyApple.png" alt="LogoOhMyApple"></a>
            </div>
            <div class="home-navBarHidden">
                <input class="home-busqueda" type="text" placeholder="Buscar productos...">
                <i class="fas fa-search"></i>
            </div>
            <div class="home-userBar">   
<!-- Agregar nombre al carrito y al perfil -->
                <a href="/productos/carrito"><i class="fa-solid fa-cart-arrow-down"></i></a>
                <a href="/user/login"><i class="fa-solid fa-user"></i></a>
            </div>
        </div>
        <div class="home-barraSuperior2">
            <div class="home-burger">
                <i class="fas fa-bars"></i>
            </div>
            <div class="home-navBar">
                    <input class="home-busqueda" type="text" placeholder="Buscar productos...">
                    <i class="fas fa-search"></i>
            </div>
        </div>
    </nav>

</header>