<nav class="home-barraLateral">   
    <ul>
        <li><a href="/productos"><i id="iconBarraLateral" class="fa-solid fa-apple-whole"></i>Nuestros Productos</a></li>
        <li><a href="#seccioniphone"><i id="iconBarraLateral" class="fa-solid fa-mobile-screen-button"></i>iPhone</a></li>
        <li><a href="#seccionmac"><i id="iconBarraLateral" class="fa-solid fa-laptop"></i>Mac</a> </li>
        <li><a href="#seccionairpods"><i id="iconBarraLateral" class="fa-sharp fa-solid fa-headphones-simple"></i>AirPods</a></li>
        <li><a href="#seccionipad"><i id="iconBarraLateral" class="fa-solid fa-tablet-screen-button"></i>iPad</a></li>
        <li><a href="#seccionwatch"><i id="iconBarraLateral" class="fa-solid fa-clock"></i>Watch</a></li>
        <li><a href="#secciontv"><i id="iconBarraLateral" class="fa-solid fa-tv"></i>TV</a></li>
        <li><a href="#seccionaccesorios"><i id="iconBarraLateral" class="fa-solid fa-grip"></i>Accesorios</a></li>
        <li><a href="#nosotros"><i id="iconBarraLateral" class="fa-solid fa-people-group"></i>Nosotros</a></li>
        <li><a href="#contacto"><i id="iconBarraLateral" class="fa-solid fa-comments"></i>Contacto</a></li>
    </ul>
</nav>